O arquivo readme são documentos de texto utilizados para fornecer aos usuários informações úteis e detalhes específicos sobre certos aplicativos instalados no 
sistema. Você realmente não precisa remover esse arquivo. É muito mais fácil bloquear o acesso a ele.

The readme file are text documents used to provide users with useful information and specific details about certain applications installed on the
system. You don't really need to remove this file. It is much easier to block access to it.

# BLOQUEAR ACESSO AO ARQUIVO README.HTML #
# BLOCK ACCESS TO README.HTML FILE #
<files readme.html>
Order deny,allow
Deny from all
</files>
